<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CRUD of the force</title>
</head>
<body>
	
	<div id="resultados">
		<h1><%= frase.nombre %></h1>
		<p><%= frase.frase %></p>
	</div>
</body>
</html>